<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APOD</title>
    <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-GtvkZ5Bhv+z1/ArCAoxUYAwL3rz56nO4zC6L0rlDWae6kT1TnljBI+ZT3jZeL+hP"
  crossorigin="anonymous"
/>
</head>
<body>
    <div class="container">
        <h1>
            NASA APOD
        </h1>
        <p>
        APOD stands for <strong>Astronomy Picture of the Day</strong>. It is a project by NASA that shares a stunning image or video of our universe every day, along with a brief explanation written by professional astronomers. 
        </p>
        <p>
        From distant galaxies and nebulae to planets, moons, and space missions — APOD helps you explore the cosmos one day at a time.
        </p>
        <form action="/info" method="post">
            <input type="date" name="date" placeholder="Enter date (YYYY-MM-DD)" required>
            <button type="submit">Go</button>
        </form>
    </div>
    
</body>
</html>